{% extends 'home/homepage.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block content%}
    <title>Roadmap Result</title>
</head>
<body>
    <h1>Recommended Roadmap</h1>
    {% if track_url %}
        <p>Your recommended track: <a href="{{ track_url }}">{{ track_url }}</a></p>
    {% else %}
        <p>No recommended track found.</p>
    {% endif %}
</body>
</html>
{%endblock%}
